/* Спосіб 1 */
.circle1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    background-color: #007bff; 
    margin-right: 20px; 
}

.circle1:before {
    content: 'UA';
    position: absolute;
    z-index: 1;
}

/* Спосіб 2 */
.circle2 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: #fff; 
    text-transform: uppercase;
    background-color: #28a745; 
    box-shadow: inset 0 0 0 25px yellow; 
    margin-top: 100px;
    margin-right: 20px; 
}

.circle2:before {
    content: 'UA';
    position: absolute;
    z-index: 1;
}

/* Спосіб 3 */
.circle3 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: #fff; 
    text-transform: uppercase;
    background-color: blue; 
    border: 25px solid yellow; 
    box-sizing: border-box; 
    margin-top: 150px; 
    margin-right: 20px; 
}

.circle3:before {
    content: 'UA';
    position: absolute;
    z-index: 1;
}
